<nav class="navbar bg-danger">
    <h1>
        <a routerLink="/">Admin Panel Moon-Online Shop</a>
    </h1>

    <ul *ngIf="authService.isAuthenticated(); else notAuth">
        <li routerLinkActive="active">
            <a routerLink="/admin/dashboard">Dashboard</a>
        </li>

        <li routerLinkActive="active">
            <a routerLink="/admin/orders">Orders</a>
        </li>

        <li routerLinkActive="active">
            <a routerLink="/admin/add">Add Product</a>
        </li>

        <li routerLinkActive="active">
            <a (click)="logout($event)">Logout</a>
        </li>
    </ul>

    <ng-template #notAuth>
        <ul>
            <li routerLinkActive="active">
                <a routerLink="/admin/login">Login</a>
            </li>
        </ul>
    </ng-template>

</nav>

<div class="container">

    <router-outlet></router-outlet>

</div>

