<form [formGroup]="form" (ngSubmit)="submit($event)">
    <h2 class="text-center">Login as Administrator</h2>
    <div class="form-control">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="form.get('email').touched && form.get('email').invalid" class="validation">
            <small *ngIf="form.get('email').errors.email">Введите корректную почту</small>
            <small *ngIf="form.get('email').errors.required">Поле e-mail обязательное</small>
        </div>
    </div>

    <div class="form-control">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="form.get('password').touched && form.get('password').invalid" class="validation" >
            <small *ngIf="form.get('password').errors.required">Поле пароль обязательно для заполнения</small>
            <small *ngIf="form.get('password').errors.minlength">
                Пароль должен иметь не менее {{ form.get('password').errors.minlength.requiredLength }} символов
                Введено {{ form.get('password').errors.minlength.actualLength }} символов
            </small>
        </div>
    </div>


    <button type="submit" class="btn btn-primary btn-block" [disabled]="submitted || form.invalid">Войти</button>
</form>

