
<div *ngIf="product; else load">
    <div class="text-center">
        <h2>{{ product.title }}</h2>

        <div class="flex-center">
            <quill-view-html [content]="product.photo"></quill-view-html>
        </div>

        <h3>Цена: {{product.price}} ₽</h3>

        <button [routerLink]="['/product', product.id]" class="btn btn-dark">Открыть</button>

        <button routerLink="/cart" class="btn btn-dark" (click)="addProduct(product)">Добавить в корзину</button>
    </div>
</div>

<ng-template>
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</ng-template>

